# Parsing data from [Scotland COVID-19 Wikipedia page](https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Scotland) and conversion to csv file

In [ ]:
pip install lxml pandas

In [2]:
import pandas as pd

In [3]:
def get_scotland_data(url: str = "https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_United_Kingdom") -> pd.DataFrame:
    
    def post_process(dataframe: pd.DataFrame) -> pd.DataFrame:
        dataframe.columns = dataframe.columns.droplevel()
        dataframe.set_index('Date', inplace=True)
        return dataframe
    
    dataframes = pd.read_html(url)
    for index, dataframe in enumerate(dataframes):
        try:
          # Use the first column name to find the right table
          if dataframe.columns[1][0] == 'A&A':
              return post_process(dataframe)
        except:
            print("Issue parsing dataframe:", index)

In [4]:
covid_scotland_data = get_scotland_data()
print(covid_scotland_data)

Issue parsing dataframe: 0
Issue parsing dataframe: 1
Issue parsing dataframe: 2
            A&A   BOR   D&G   FIF    FV  GRA    GGC  HLD   LAN   LOT  SHE  \
Date
2020/03/02  NaN   NaN   NaN   NaN   NaN  NaN    NaN  NaN   NaN   NaN  NaN
2020/03/03  NaN   NaN   NaN   NaN   NaN  NaN    NaN  NaN   NaN   NaN  NaN
2020/03/04    1   NaN   NaN   NaN   NaN    1    NaN  NaN   NaN   NaN  NaN
2020/03/05  NaN   NaN   NaN   NaN   1.0    1    1.0  NaN   NaN   NaN  NaN
2020/03/06  NaN   NaN   NaN   2.0   1.0    1    NaN  NaN   NaN   1.0  NaN
2020/03/07  NaN   NaN   NaN   NaN   NaN    1    1.0  NaN   2.0   1.0  NaN
2020/03/08  NaN   NaN   NaN   NaN   NaN  NaN    1.0  NaN   NaN   1.0  NaN
2020/03/09  NaN   NaN   NaN   NaN   NaN  NaN    NaN  NaN   1.0   2.0    2
2020/03/10  NaN   NaN   NaN   NaN   NaN    2    NaN  NaN   NaN   2.0  NaN
2020/03/11    2   2.0   NaN   NaN   NaN  NaN    2.0  NaN   1.0   1.0  NaN
2020/03/12    1   NaN   NaN   1.0   4.0    1    5.0  NaN   3.0   3.0    4
2020/03/13  NaN   1.0   NaN   1.0   NaN    4   11.0  NaN   NaN   9.0  NaN
2020/03/14    2   2.0   NaN   2.0   0.0   –2   10.0  1.0   3.0   5.0    5
2020/03/15    0   2.0   NaN   1.0   4.0    3    7.0  1.0   6.0   3.0    0
2020/03/16    1   NaN   1.0   NaN   NaN  NaN    5.0  NaN   4.0   1.0    4
2020/03/17   −1   NaN   NaN   NaN   2.0   14    5.0  3.0   1.0   1.0   −4
2020/03/18    3   NaN   3.0   1.0   3.0    2    8.0  NaN   4.0   3.0    1
2020/03/19    3   1.0   2.0   1.0   2.0   −6   16.0  1.0   8.0   2.0    8
2020/03/20    4   1.0   4.0   3.0   6.0    1   20.0  NaN   8.0   5.0  NaN
2020/03/21    5   1.0   3.0   1.0   4.0    1   19.0  2.0   8.0   4.0    0
2020/03/22    4   1.0   3.0   3.0   3.0    3   20.0  NaN   NaN   2.0  NaN
2020/03/23  NaN   NaN   NaN   NaN   NaN  NaN    NaN  NaN   NaN   NaN  NaN
Total        25  11.0  16.0  16.0  30.0   23  130.0  8.0  49.0  46.0   24

             TAY  New  Total    New   Total  New Total      Sources
Date
2020/03/02   1.0    1    1.0    NaN     NaN    –     –        [311]
2020/03/03   NaN    –    1.0    NaN     NaN    –     –          NaN
2020/03/04   NaN    2    3.0    NaN  1046.0    –     –  [312] [313]
2020/03/05   NaN    3    6.0  210.0  1256.0    –     –  [314] [315]
2020/03/06   NaN    5   11.0  269.0  1525.0    –     –        [316]
2020/03/07   NaN    5   16.0  155.0  1680.0    –     –        [317]
2020/03/08   NaN    2   18.0  277.0  1957.0    –     –        [318]
2020/03/09   NaN    5   23.0  144.0  2101.0    –     –        [319]
2020/03/10   NaN    4   27.0  133.0  2234.0    –     –        [320]
2020/03/11   1.0    9   36.0   82.0  2316.0    –     –        [321]
2020/03/12   2.0   24   60.0  576.0  2892.0    –     –        [322]
2020/03/13  -1.0   25   85.0  422.0  3314.0    1     1  [323] [324]
2020/03/14   8.0   36  121.0  401.0  3715.0    –     1        [325]
2020/03/15   4.0   32  153.0  525.0  4240.0    –     1        [326]
2020/03/16   2.0   18  171.0  655.0  4895.0    –     1        [327]
2020/03/17   3.0   24  195.0  351.0  5246.0    1     2  [328] [329]
2020/03/18   7.0   32  227.0  845.0  6091.0    1     3        [330]
2020/03/19   3.0   39  266.0  681.0  6772.0    3     6        [331]
2020/03/20   4.0   56  322.0  778.0  7550.0    –     6        [332]
2020/03/21   3.0   51  373.0  709.0  8259.0    1     7        [333]
2020/03/22   4.0   43  416.0  420.0  8679.0    3    10        [334]
2020/03/23   NaN  NaN    NaN    NaN     NaN  NaN   NaN          NaN
Total       38.0  416    NaN    NaN     NaN   10   NaN          NaN

In [5]:
health_board_data = covid_scotland_data.iloc[:,:12]

In [6]:
columns = []
for index, column in health_board_data.iloc[:-1].iterrows():
    column = column.astype('str').str.replace('–','-').str.replace('−','-').astype('float')
    columns.append(column)
counts = pd.concat(columns,axis=1).transpose().fillna(0).astype('int')

In [9]:
counts.to_csv('data/wikipedia_numbers.csv')

In [7]:
counts

            A&A  BOR  D&G  FIF  FV  GRA  GGC  HLD  LAN  LOT  SHE  TAY
2020/03/02    0    0    0    0   0    0    0    0    0    0    0    1
2020/03/03    0    0    0    0   0    0    0    0    0    0    0    0
2020/03/04    1    0    0    0   0    1    0    0    0    0    0    0
2020/03/05    0    0    0    0   1    1    1    0    0    0    0    0
2020/03/06    0    0    0    2   1    1    0    0    0    1    0    0
2020/03/07    0    0    0    0   0    1    1    0    2    1    0    0
2020/03/08    0    0    0    0   0    0    1    0    0    1    0    0
2020/03/09    0    0    0    0   0    0    0    0    1    2    2    0
2020/03/10    0    0    0    0   0    2    0    0    0    2    0    0
2020/03/11    2    2    0    0   0    0    2    0    1    1    0    1
2020/03/12    1    0    0    1   4    1    5    0    3    3    4    2
2020/03/13    0    1    0    1   0    4   11    0    0    9    0   -1
2020/03/14    2    2    0    2   0   -2   10    1    3    5    5    8
2020/03/15    0    2    0    1   4    3    7    1    6    3    0    4
2020/03/16    1    0    1    0   0    0    5    0    4    1    4    2
2020/03/17   -1    0    0    0   2   14    5    3    1    1   -4    3
2020/03/18    3    0    3    1   3    2    8    0    4    3    1    7
2020/03/19    3    1    2    1   2   -6   16    1    8    2    8    3
2020/03/20    4    1    4    3   6    1   20    0    8    5    0    4
2020/03/21    5    1    3    1   4    1   19    2    8    4    0    3
2020/03/22    4    1    3    3   3    3   20    0    0    2    0    4
2020/03/23    0    0    0    0   0    0    0    0    0    0    0    0